.card {
  width: 12rem;
  background: green;


}

.card > div {
  background: white;
  text-align: center;
}

#red {
  background: red;
  color: white ;
  border: none;
  border-radius: 5px;
}


#green {
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}


#blue {
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
}

#yellow {
  background: yellow;
  color: white;
  border: none;
  border-radius: 5px;
}


#black {
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
}